.container {
  padding: 2rem;
  border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.3);
  transition: all 250ms ease-in-out;
}

.container:hover {
  transform: scale(1.05);
}

/* @media screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }
} */
