.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  height: 100vh;
  background-color: white;
}

.recipesContainer {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 1rem;
  }
  .recipesContainer {
    padding: 0.25rem;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
