.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.recipesContainer {
  align-items: stretch;
  justify-content: stretch;
  /* grid-auto-rows: max-content; */
  margin-bottom: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-column-start: auto;
  gap: 1rem 1rem;
  padding: 2rem;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.leftBar {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: hidden;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 1rem;
    flex-direction: column;
  }
  .recipesContainer {
    padding: 0.25rem;
  }

  .recipesContainer {
    grid-auto-rows: 1fr;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-column-start: auto;
    gap: 1rem 1rem;
    padding: 0.5rem;
    overflow: scroll;
    width: 100%;
    height: 100%;
    align-items: start;
    overflow-x: hidden;
  }

  .leftBar {
    height: 10%;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
}
