.container {
  height: 100vh;
  padding: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: scroll;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.image {
  width: 10%;
}

.title {
  padding: 5rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2rem;
  }
}
